
:root {
    --light-green: rgb(73, 111, 83);
    --pastel-green: rgb(74, 121, 108);
    
    --light-blue: rgb(67, 98, 122);
    --ocean-blue: rgb(40, 65, 96);
    --dark-blue: rgb(34, 34, 99);

    --light-background: rgb(244, 236, 232);
}